<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Mi web</title>
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Mi Marca" style="height: 40px;">
    </a>
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="font-size: 1.2em; margin-right: 10px;">Ventas<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cobranzas" style="font-size: 1.2em; margin-right: 10px;">Cobranzas</a>
        </li>
      </ul>
    </div>
  </nav>
  

  <h1>Registro de ventas</h1>
  <form action="/" method="post">
    <div class="container">

      <div class="detalles">
        <input type="date" name="fecha" placeholder="Fecha">
        <select name="factura_o_nota_de_pedido" placeholder="Factura o Nota de Pedido">
          <option value="Nota de pedido">Nota de pedido</option>
          <option value="Factura">Factura</option>
        </select>
        <input type="text" name="n_documento" placeholder="N° de documento">
      </div>

      <div class="importante">
        <input type="text" name="cliente" placeholder="Nombre de cliente">
        <select name="vendedor" placeholder="Vendedor">
          <option value="No eligio vendedor">Seleccione vendedor</option>
          <option value="Moises Montesinos">Moises Montesinos</option>
          <option value="Nayda Arostegui">Nayda Arostegui</option>
          <option value="Aldair">Aldair</option>
          <option value="Luis Barrios Anyosa">Luis Barrios Anyosa</option>
        </select>
        <select name="ubicacion" placeholder="Ubicación">
          <option value="No eligio ubicacion">Seleccione ubicación</option>
          <option value="Pucallpa">Pucallpa</option>
          <option value="Km.86">Km.86</option>
          <option value="San Alejandro">San Alejandro</option>
          <option value="Neshuya">Neshuya</option>
          <option value="Curimana">Curimana</option>
          <option value="Campo Verde">Campo Verde</option>
          <option value="LIMA - Mercado KIWI">LIMA - Mercado KIWI</option>
          <option value="LIMA - Mercado La Paradita">LIMA - Mercado La Paradita</option>
          <option value="LIMA - Mercado Municipal de Chorrillos N° 1">LIMA - Mercado Municipal de Chorrillos N° 1</option>
          <option value="LIMA - Armatambo">LIMA - Armatambo</option>
          <option value="LIMA - San Genaro">LIMA - San Genaro</option>
          <option value="LIMA - Mercado Los Pinos">LIMA - Mercado Los Pinos</option>
          <option value="LIMA - Mercado Sarita Colonia">LIMA - Mercado Sarita Colonia</option>
        </select>
      </div>  

      <input type="number" name="cantidad_productos_a_registrar" placeholder="Cantidad de Productos a Registrar">

      <div class="productos">
        <div class="numero">1</div>
        <select name="producto-0" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-0" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-0" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-0" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">2</div>
        <select name="producto-1" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-1" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-1" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-1" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">3</div>
        <select name="producto-2" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-2" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-2" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-2" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">4</div>
        <select name="producto-3" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-3" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-3" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-3" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">5</div>
        <select name="producto-4" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-4" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-4" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-4" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">6</div>
        <select name="producto-5" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-5" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-5" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-5" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">7</div>
        <select name="producto-6" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-6" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-6" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-6" placeholder="Precio x caja o saco">
      </div>

      <div class="productos">
        <div class="numero">8</div>
        <select name="producto-7" placeholder="Producto">
          {% for producto in producto %}
          <option value="{{ producto }}">{{producto}}</option>
          {% endfor %}
        </select>
        <input type="number" step="0.0001" min=0 name="cantidad_en_cajas_o_sacos-7" placeholder="Cantidad en cajas o sacos">
        <select name="tipo_medida-7" placeholder="Medida">
          <option value="Caja">CAJA</option>
          <option value="Saco">SACO</option>
          <option value="Unidad">UNIDAD</option>
        </select>
        <input type="number" step="0.0001" min=0 name="precio_x_caja_o_saco-7" placeholder="Precio x caja o saco">
      </div>

      <input type="submit" value="Registrar">
    </div>


  </form>

  <!-- Incluir jQuery y Bootstrap JS al final del body -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGaDkDVEJQ1gYkR1RYdqG5YlZw" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>