<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Mi web</title>
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse navbar-collapse-xs" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="font-size: 1.2em; margin-right: 10px;">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ventas" style="font-size: 1.2em; margin-right: 10px;">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cobranzas" style="font-size: 1.2em; margin-right: 10px;">Cobranzas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard" style="font-size: 1.2em; margin-right: 10px;">Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>

<h1>Registro de ventas</h1>
  <form action="/submit" method="post">
    <div class="container">
      <input type="date" name="fecha" placeholder="Fecha">
      <input type="text" name="cliente" placeholder="Nombre de cliente">
      <select name="factura_o_nota_de_pedido" placeholder="Factura o Nota de Pedido">
        <option value="Nota de pedido">Nota de pedido</option>
        <option value="Factura">Factura</option>
      </select>
      <input type="text" name="n_documento" placeholder="N° de documento">
      <select name="vendedor" placeholder="Vendedor">
        <option value="No eligio vendedor">Seleccione vendedor</option>
        <option value="Moises Montesinos">Moises Montesinos</option>
        <option value="Nayda Arostegui">Nayda Arostegui</option>
      </select>
      <select name="ubicacion" placeholder="Ubicación">
        <option value="No eligio ubicacion">Seleccione ubicación</option>
        <option value="Pucallpa">Pucallpa</option>
        <option value="Km.86">Km.86</option>
        <option value="San Alejandro">San Alejandro</option>
        <option value="Neshuya">Neshuya</option>
        <option value="Curimana">Curimana</option>
        <option value="Campo Verde">Campo Verde</option>
      </select>
      <select name="producto" placeholder="Producto">
        {% for producto in producto %}
        <option value="{{ producto }}">{{producto}}</option>
        {% endfor %}
      </select>
      <input type="number" name="cantidad_en_cajas_o_sacos" placeholder="Cantidad en cajas o sacos">
      <select name="tipo_medida" placeholder="Medida">
        <option value="Caja">CAJA</option>
        <option value="Saco">SACO</option>
      </select>
      <input type="number" name="precio_x_caja_o_saco" placeholder="Precio x caja o saco">
      <input type="number" name="totales_en_soles" placeholder="Totales en soles">
      <input type="submit" value="Registrar">
    </div>
  </form>

</body>

</html>