<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Formulario enviado</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ventas">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cobranzas</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Formulario enviado</h1>
  <p>Gracias por enviar el formulario.</p>
  <p>Los datos del formulario son los siguientes:</p>
  <table>
    <thead>
      <tr>
        <th>Columna</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fecha</td>
        <td>{{ fecha }}</td>
      </tr>
      <tr>
        <td>Nombre de cliente</td>
        <td>{{ cliente }}</td>
      </tr>
      <tr>
        <td>Factura o nota de pedido</td>
        <td>{{ tipo_de_documento }}</td>
      </tr>
      <tr>
        <td>N° de documento</td>
        <td>{{ numero_documento }}</td>
      </tr>
      <tr>
        <td>Producto</td>
        <td>{{ producto }}</td>
      </tr>
      <tr>
        <td>Cantidad en cajas o sacos</td>
        <td>{{ cantidad }}</td>
      </tr>
      <tr>
        <td>Medida</td>
        <td>{{ tipo_medida }}</td>
      </tr>
      <tr>
        <td>Precio x caja o saco</td>
        <td>{{ precio_unitario }}</td>
      </tr>
      <tr>
        <td>Totales en soles</td>
        <td>{{ precio_total }}</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
